 /* Somaya Youseef Rajab 2112248 EB9  */
@import url(//fonts.googleapis.com/css?family=Acme);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


body {

    background-color: #edb7c8;
    font-family: "Acme";


}

header h1 {
    border-bottom: 2px solid #e388a5;
    padding-bottom: 10px;
}

li a:hover {
    background-color: #e388a5;
    border: #ffffff solid;
    border-radius: 5px;
}

.personalImg {
    width: 20rem;
}

.nav-link {
    font-size: 1.5em;
}

.navMinTitle {
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    font-size: 2em;
}

.headerDiv {

    color: #e388a5;
}

.card {
    border: 5px solid #edb7c8;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card:hover {

    box-shadow: 2px 2px 20px 5px #edb7c5;
    border: 3px solid #e388a5;
}

.card-img-top {
    border-radius: 3px;
    border: 3px solid #ffffff;

}

.btn-outline-light {

    color: #edb7c8;
    border-color: #edb7c5;
    box-shadow: 2px 2px 20px 5px #edb7c5;

}

.card-title {
    color: #c94a72;
    ;
}

.card-text {
    color: #e388a5;
}

.btn-outline-light:hover {
    color: #edb7c8;
    border-color: #edb7c5;
    background-color: #c94a72;

}

.contact {
    border: 4px solid #c94a72;
    border-radius: 5px;
    background-color: #ffffff;
    color: #e388a5;
}
.contact:hover{
    border: 4px solid #c94a72;
    border-radius: 5px;
    box-shadow:2px 2px 20px 5px #edb7c5;
    background-color: #ffffff;
}

.form-control {
    border: 0;
    border-bottom: #c94a72 solid 2px;
    background-color: transparent;
}

.form-control:focus , .form-control:hover{
    border: 2px #c94a72 solid;
    box-shadow: 2px 2px 20px 5px #edb7c5;
}

.send{
    background-color: transparent;
    border: 2px #c94a72 solid;
    color: #e388a5;
}

.send:hover{
    background-color: #c94a72;
    color: #e388a5;
}