@import url(//fonts.googleapis.com/css?family=Acme);



body {

    background-color: #edb7c8;
    font-family: "Acme";


}




li a:hover {
    background-color: #e388a5;
    border: #ffffff solid;
    border-radius: 5px;
}

.personalImg {
    width: 25rem;
}

.nav-link {
    font-size: 1.5em;
}

.navMinTitle{
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
    font-size: 2em;
}


.headerDiv{

    color: #e388a5;
}
.card{
    border:5px solid #edb7c8;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-img-top{
    border-radius: 3px;
}
.btn-outline-light{

    color: #edb7c8;
    border-color: #edb7c5;
}
.card-title{
    color: #c94a72;;
}

.card-text{
    color:#e388a5 ;
}

.btn-outline-light:hover{
    color: #edb7c8;
    border-color: #edb7c5;
    background-color: #c94a72;

}